# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# Example Trade Remedies API environment file.

# Change the DJANGO_SECRET_KEY value and ensure that
# CASE_WORKER_ENVIRONMENT_KEY and PUBLIC_ENVIRONMENT_KEY match those in
# your local caseworker and public repositories respectively.

# Find remaining missing values from colleagues.
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# Django Settings
ALLOWED_HOSTS=localhost,api,apitest
DEBUG=True
DJANGO_ADMIN=True
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=xxx           # Change me

# Database Settings
DATABASE_URL=psql://postgres:postgres@postgres:5432/trade_remedies
DB_MAX_CONNS=1
POSTGRES_HOST_AUTH_METHOD=trust

# Celery settings
# Set CELERY_TASK_ALWAYS_EAGER to True if you want to debug any task invocation
# (i.e. step into code in a tasks.py module with the debugger), this will ensure
# tasks will run in the Django process. If you set to False then you will need a
# Celery service running, as provided by the trade-remedies-dcoker orchestration
# project.
CELERY_TASK_ALWAYS_EAGER=False
CELERY_BROKER_URL=redis://redis:6379
REDIS_BASE_URL=redis://redis:6379

# Trade Remedies API
CASEWORKER_ROOT_URL=http://localhost:8001
PUBLIC_ROOT_URL=http://localhost:8002
CASE_WORKER_ENVIRONMENT_KEY=xxx     # Change me
PUBLIC_ENVIRONMENT_KEY=xxx          # Change me

GECKOBOARD_API_KEY=xx
GECKOBOARD_ENV=dev

HEALTH_CHECK_USER_TOKEN=AUTH-TOKEN-FOR-TRUSTED-USER
HEALTH_CHECK_USER_EMAIL=_healthcheckuser_@gov.uk

MASTER_ADMIN_EMAIL=admin@traderemedies.gov.uk
MASTER_ADMIN_PASSWORD=change-Me

AXES_ENABLED=False

OPENSEARCH_HOST=opensearch
OPENSEARCH_PORT=9200

API_V2_ENABLED=False

# AWS
S3_BUCKET_NAME=xxx     # Ask a Colleague
S3_STORAGE_KEY=xxx     # Ask a Colleague
S3_STORAGE_SECRET=xxx  # Ask a Colleague
AWS_REGION=eu-west-2

# Clam AV
AV_SERVICE_URL=xxx          # Ask a Colleague
AV_SERVICE_USERNAME=xxx     # Ask a Colleague
AV_SERVICE_PASSWORD=xxx     # Ask a Colleague

# GOV Notify
GOV_NOTIFY_API_KEY=xxx  # Ask a Colleague
DISABLE_NOTIFY_WHITELIST=False

# Companies House
COMPANIES_HOUSE_API_KEY=xxx  # Ask a Colleague

# Audit email stuff
AUDIT_EMAIL_MAX_RETRIES=5
AUDIT_EMAIL_RETRY_COUNTDOWN=1200
AUDIT_EMAIL_FROM_ADDRESS=notify.copy@traderemedies.gov.uk
AUDIT_EMAIL_FROM_NAME=TRS Notify Copy
AUDIT_EMAIL_IAM_USER=xxx     # Ask a Colleague
AUDIT_EMAIL_SMTP_USERNAME=xxx     # Ask a Colleague
AUDIT_EMAIL_SMTP_PASSWORD=xxx     # Ask a Colleague
AUDIT_EMAIL_TO_ADDRESS=xxx     # Ask a Colleague
GOV_NOTIFY_TESTING_KEY=xxx     # Ask a Colleague
