ALLOWED_HOSTS=localhost
DB_HOST=localhost
DB_PORT=5432
DB_USER=db_user
DB_PASSWORD=db_password
DB_NAME=trade_remedies
DEBUG=True
DJANGO_SECRET_KEY='MY_OH_SO_VERY_SECRET_KEY'
DJANGO_SETTINGS_MODULE=trade_remedies_api.settings.local
MASTER_ADMIN_EMAIL=admin@mylocaltrade.com
MASTER_ADMIN_PASSWORD=CHANGE-ME
SENTRY_DSN=
SENTRY_ENVIRONMENT=local
HEALTH_CHECK_USER_TOKEN='AUTH-TOKEN-FOR-TRUSTED-USER'
HEALTH_CHECK_USER_EMAIL=_healthcheckuser_@gov.uk
S3_BUCKET_NAME=trade-remedies-doc-bucket
S3_STORAGE_KEY=S3-STORAGE-KEY
S3_STORAGE_SECRET=S3-STORAGE-SECRET
AWS_REGION=eu-west
AV_SERVICE_URL=https://gov-avscan-service.gov.uk/change/me
AV_SERVICE_USERNAME=test
AV_SERVICE_PASSWORD=test
GOV_NOTIFY_API_KEY=my-notify-key-here
GOV_NOTIFY_SERVICE_ID=notify-service-id
GOV_NOTIFY_SERVICE_API_KEY=notify-service-api-key
PUBLIC_ROOT_URL=http://localhost:8002
CASEWORKER_ROOT_URL=http://localhost:8001
CASE_WORKER_ENVIRONMENT_KEY=CW-ENV
PUBLIC_ENVIRONMENT_KEY=PUB-ENV
CELERY_LOGLEVEL=info
CELERY_TASK_ALWAYS_EAGER=True
CELERY_REDIS_DATABASE_NUMBER=2
VCAP_SERVICES={"redis":[{"credentials":{"uri":"redis://localhost:6379"}}], "elasticsearch": [{"credentials": {"uri": "http://localhost:9200"}}]}
REDIS_DATABASE_NUMBER="1"
DJANGO_ADMIN=True
COMPANIES_HOUSE_API_KEY=companies-house-api-key
GECKOBOARD_API_KEY=gecko-board-api-key
GECKOBOARD_ENV=dev
