# You shouldn't need to change these defaults for local development
ALLOWED_HOSTS=localhost,api,apitest
CELERY_BROKER_URL=redis://redis:6379
REDIS_BASE_URL=redis://redis:6379
DATABASE_URL=psql://postgres:postgres@postgres:5432/trade_remedies
DEBUG=True
DJANGO_SECRET_KEY=local-dev
DJANGO_SETTINGS_MODULE=trade_remedies_api.settings.local
MASTER_ADMIN_EMAIL=admin@mylocaltrade.com
MASTER_ADMIN_PASSWORD=change-Me
SENTRY_DSN=
SENTRY_ENVIRONMENT=local
HEALTH_CHECK_USER_TOKEN=AUTH-TOKEN-FOR-TRUSTED-USER
HEALTH_CHECK_USER_EMAIL=_healthcheckuser_@gov.uk
PUBLIC_ROOT_URL=http://localhost:8002
CASEWORKER_ROOT_URL=http://localhost:8001
CASE_WORKER_ENVIRONMENT_KEY=CW-ENV
PUBLIC_ENVIRONMENT_KEY=PUB-ENV
CELERY_LOGLEVEL=info
CELERY_TASK_ALWAYS_EAGER=True
DJANGO_ADMIN=True
DB_MAX_CONNS=1

GECKOBOARD_ENV=dev

AXES_ENABLED=False
ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200

# These parameters are required to develop the site locally
S3_BUCKET_NAME=xx
S3_STORAGE_KEY=xx
S3_STORAGE_SECRET=xx
AWS_REGION=eu-west-2

AV_SERVICE_URL=xx
AV_SERVICE_USERNAME=xx
AV_SERVICE_PASSWORD=xx

GECKOBOARD_API_KEY=xx

GOV_NOTIFY_API_KEY=xx
COMPANIES_HOUSE_API_KEY=xx

